/*Styling to move main below fixed nav*/
main {
    margin-top: 100px;
}


/*Styling to ensure fixed button doesn't interfere with form submit buttons*/
.fixed-bottom {
    left: auto;
}


/*Styling to remove underline from buttons on collapsible forms*/
.btn-link:hover {
    text-decoration: none;
}

.btn-link.focus, .btn-link:focus {
    text-decoration: none;
}


/*Styling to remove margin top and bottom from <hr> in items loop*/
/*.hr-list {*/
/*    margin-top: 0rem;*/
/*    margin-bottom: 0rem;*/
/*}*/

/*Styling for delete "yes" and "no" buttons*/
/*.btn-form {*/
/*    display: inline-block;*/
/*}*/

/*.btn-delete {*/
/*    width: 80px;*/
/*}*/

.btn-form-detail {
    width: 80px
}


/*Styling for image thumbnail on list and detail pages for different screen sizes*/
/*@media (max-width: 768px) {*/
/*    .img-thumbnail-mobile {*/
/*        width: 110px;*/
/*    }*/
/*}*/

/*@media (max-width: 576px) {*/
/*    .img-thumbnail-mobile {*/
/*        width: 100px;*/
/*    }*/
/*}*/


/*Styling to remove certain elements from the printed page*/
@media print {
    .no-print {
        display: none !important;
    }
}


/*Styling for detail and form pages*/
.card-notes {
    background-color: lemonchiffon;
}

.text-box {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 100%;
    height: 200px;
}

.card-title {
    color: grey;
    font-size: 0.8rem;
}

.card-text {
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-instr {
    font-size: 0.8rem;
}


/*Styling for print,edit, delete button*/
.fa-ellipsis-v  { 
    font-size: 30px;
}

