main {
    margin-top: 100px;
}

.fixed-bottom {
    left: auto;
}

.btn-link:hover {
    text-decoration: none;
}

.btn-link.focus, .btn-link:focus {
    text-decoration: none;
}

.btn-form {
    display: inline-block;
}

.btn-delete {
    width: 80px;
}