{% extends "base.html" %} 

{% block content %}

    <div class="row">
        <div class="col-10 offset-1">
    
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-8">
                            <h1>Content List</h1>
                        </div>
                        <div class="col-4">
                            <a class="btn btn-primary float-right" href="{{ url_for('edit_contents_list') }}" role="button"><i class="far fa-edit"></i></a>
                        </div>
                    </div> 
                </div>
                
                <div class="card-body">
    
                    <div class="accordion" id="accordionExample">
                        {% for room in items_by_room %} 
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{ spaces_to_underscores(room) }}" aria-expanded="true" aria-controls="collapseOne">
                                          <i class="fas fa-bars"></i> {{ room }} <i class="fas fa-caret-down"></i>
                                        </button>
                                        <a class="btn btn-primary float-right" href="{{ url_for("show_room_detail", room=room) }}" role="button">VIEW</a>
                                    </h5>
                                </div>
                
                                <div id="{{ spaces_to_underscores(room) }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {% for item in items_by_room[room] %}
                                            
                                            <img class="img-thumbnail img-thumbnail-mobile" src="{{ item.image_item }}" onerror="this.src='{{url_for('static', filename='images/noimage.png')}}'" alt="Image of Item" width="10%" height="auto" />
                                        
                                            <p>{{ item.item_title }} - <a href="{{ url_for("show_item_detail", room=room, item_id=item._id) }}" >view</a></p>
                                                
                                            <hr>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
    
        </div>
    </div>

{% endblock %}
