{% extends "base.html" %} 

{% block content %}

    <div class="row">
        <div class="col-10 offset-1">
    
            <div class="card">
                <h1 class="card-header card-header-col">Content List</h1>
                
                <div class="card-body">
    
                    <div class="accordion" id="accordionExample">
                        {% for room in items_by_room %} 
                            <div class="card">
                                <div class="card-header accordian-card-header-col" id="headingOne">
                                    <div class="row">
                                        <div class="col-10">
                                            <h3 class="mb-0">
                                            <a class="content-list-room" href="{{ url_for("show_room_detail", room=room) }}"> {{ room }} </a>
                                            </h3>
                                        </div>
                                        <div class="col-2">
                                            <h6 class="mb-0">
                                                <button class="btn btn-link float-right" type="button" data-toggle="collapse" data-target="#{{ spaces_to_underscores(room) }}" aria-expanded="true" aria-controls="collapseOne">
                                                  <i class="fas fa-bars"></i> <i class="fas fa-caret-down"></i>
                                                </button>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                
                                <div id="{{ spaces_to_underscores(room) }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body accordian-card-body-col">
                                        {% for item in items_by_room[room] %}
                                            <div class="row">
                                                <div class="col-12">
                                                    <h5><a class="content-list-item" href="{{ url_for("show_item_detail", room=room, item_id=item._id) }}" >{{ item.item_title }}</a></h5>
                                                </div>
                                            </div>    
                                            <hr class="hr-list">
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
    
        </div>
    </div>

{% endblock %}
