{% extends "base.html" %} 

{% block content %}

    <div class="row">
        <div class="col-10 offset-1">
            
            <div class="card">
                <div class="card-header">
                    <h1>Edit Room</h1>
                </div>
                
                <div class="card-body">
                    
                    {% for room in rooms %}
                    <p>{{ room }}</p>
                    {% endfor %}
                    
                    <form method = "POST">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Room Name:</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" name="room_name" value="{{ room_room }}" required>
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="far fa-save"></i> Save</button>
                    </form>
                    
                </div>
            </div>    
            
        </div>    
    </div>        
            
{% endblock %}