{% extends "base.html" %} 

{% block content %}

    <div class="row">
        <div class="col-10 offset-1">
    
            <div class="card">
                <div class="card-header">
                    <h1> Edit Content List</h1> 
                </div>
                
                <div class="card-body">
    
                    <div class="accordion" id="accordionExample">
                        {% for room in items_by_room %} 
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{ spaces_to_underscores(room) }}" aria-expanded="true" aria-controls="collapseOne">
                                          {{ room }}
                                        </button>
                                        <div class="btn-group float-right" role="group" aria-label="Basic example">
                                          <a class="btn btn-primary" href="{{ url_for("edit_room", room=room) }}" role="button">EDIT</a>
                                          <a class="btn btn-primary" href="{{ url_for('delete_room_confirm', room=room) }}" role="button">DELETE</a>
                                        </div>
                                    </h5>
                                </div>
                
                                <div id="{{ spaces_to_underscores(room) }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {% for item in items_by_room[room] %}
                                            <p>{{ item.item_title }} - <a href="{{ url_for("edit_item", room=room, item_id=item._id) }}" >edit</a> <a href="#" >delete</a></p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
    
        </div>
    </div>

{% endblock %}
