{% extends "base.html" %} 

{% block content %}

    <div class="row">
        <div class="col-10 offset-1">
           
            <div class="card">
                <div class="card-header card-header-mobile">
                    <div class="row">
                        <div class="col-8">
                            <h1>{{ item.item_title }}</h1>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-primary float-right no-print" onClick="printPage()" type="button">PRINT</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p class="card-title">Police Notes:</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <span><i class="far fa-square"></i> Stolen <i class="far fa-square"></i> Damaged</span>
                        </div>
                        <div class="col-12 col-md-6">
                            <p>Comments/notes on condition:</p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p class="card-title">Image of Item:</p>
                            <p class="card-img"><img class="img-thumbnail" src="{{ item.image_item }}" onerror="this.src='{{url_for('static', filename='images/noimage.png')}}'" alt="Image of Item" width="100%" height="auto" /></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="card-title">Make/Artist/Author:</p>
                            <p class="card-text">{{ item.make }}</p>
                        </div>
                        <div class="col-12 col-md-4">
                            <p class="card-title">Model/Description/Title:</p>
                            <p class="card-text">{{ item.model }}</p>
                        </div>
                        <div class="col-12 col-md-4">
                            <p class="card-title">Serial Number:</p>
                            <p class="card-text">{{ item.serial_number }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="card-title">Date Purchased:</p>
                            <p class="card-text">{{ item.date_purchased }}</p>
                        </div>
                        <div class="col-12 col-md-4">
                            <p class="card-title">Warranty:</p>
                            <p class="card-text">{{ item.warranty }}</p>
                        </div>
                        <div class="col-12 col-md-4">
                            <p class="card-title">Where Purchased:</p>
                            <p class="card-text">{{ item.where_purchased }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="card-title">Purchase Price (euro):</p>
                            <p class="card-text">{{ item.purchase_price }}</p>
                        </div>
                        <div class="col-12 col-md-4">
                            <p class="card-title">Estimated Value (euro):</p>
                            <p class="card-text">{{ item.estimated_value }}</p>
                        </div>    
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <p class="card-title">Notes:</p>
                            <p class="card-text">{{ item.notes }}</p>
                        </div>
                        <div class="col-12 col-md-4">
                            <p class="card-title">Image of Receipt:</p>
                            <p class="card-img"><img class="img-thumbnail" src="{{ item.image_receipt }}" onerror="this.src='{{url_for('static', filename='images/noimage.png')}}'" alt="Image of Receipt" width="100%" height="auto" /></p>
                        </div>    
                    </div>
                    
                </div>
            </div>        
            
        </div>
    </div>
<p>change</p>

{% endblock %}        