{% extends "base.html" %} 

{% block content %}

    <div class="row">
        <div class="col-10 offset-1">

            <div class="card">
                <div class="card-header card-header-col">
                    <div class="row">
                        <div class="col-10">
                            <h1>{{ room }}</h1>
                        </div>
                        <div class="col-2">
                            <div class="dropright text-right">
                                <a class="no-print" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                                <div class="dropdown-menu" aria-labelledby="droprightMenuButton">
                                    <a class="dropdown-item d-none d-md-block" href="javascript:window.print()">PRINT</a>
                                    <a class="dropdown-item" href="{{ url_for("edit_room", room=room) }}">EDIT</a>
                                    <a class="dropdown-item" href="{{ url_for('delete_room', room=room) }}">DELETE</a>
                                </div>
                            </div>
                                
                        </div>                        
                    </div>
                </div>
                
                <div class="card-body card-body-col">
                    
                        <div class="row">
                            {% for item in items %}
                            <div class="col-12 col-md-4">
                                <div class="card mt-4" style="width: 100%;">
                                    <img class="card-img-top" src="{{ item.image_item }}" onerror="this.src='{{url_for('static', filename='images/noimage.png')}}'" alt="Image of Item" width="100%" height="auto" />
                                    <div class="card-body card-body-alt-col">
                                        <h5 class="card-title"><a class="room-list-item" href="{{ url_for("show_item_detail", room=room, item_id=item._id) }}">{{ item.item_title }}</a></h5>
                                        <p class="card-text">Estimated value:<span class="float-right">€{{ item.estimated_value }}</span></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    
                </div>
            </div>

        </div>
    </div>

{% endblock %}